<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594241079111-egd0t18otjr16i8diq7o386ekh5tr94c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594241079111-egd0t18otjr16i8diq7o386ekh5tr94c</string>
	<key>API_KEY</key>
	<string>AIzaSyBLp-_nNZesVAKOFo0BGbSutuV3az8bF5o</string>
	<key>GCM_SENDER_ID</key>
	<string>594241079111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anirudha.iostraining.CustomCell</string>
	<key>PROJECT_ID</key>
	<string>chatapp-571f0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-571f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594241079111:ios:e5be80af20e9d15d6b2e62</string>
</dict>
</plist>